@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background: linear-gradient(
    180deg,
    #020617 0%,
    #0f172a 50%,
    #020617 100%
  );
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}